.benefits__list {
    @include list-display;
    flex-wrap: wrap;
    gap: 30px;
}

.benefits__item {
    width: 450px;

    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
        width: calc((100% - 30px)/2);
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 3*30px)/4);
    }
}

.benefits__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $team-background-color;
}

.benefits__title {
    @include list-title;
    @media screen and (max-width: ($tablet - 0.02)) {
        text-align: center;
    }
}

.benefits__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}