.benefits__list {
    @include list-display;
}

.benefits__item {
    width: 270px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.benefits__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $team-background-color;
}

.benefits__title {
    @include list-title;
}

.benefits__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}