.clients__title {
    @include section-title;
    margin-bottom: 50px;
}

.clients__list {
    @include list-display;
    justify-content: center;
    gap: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid $contacts-color;
    border-radius: 4px;
    transition: border $animation;
    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.clients__icon {
    fill: $contacts-color;
    transition: fill $animation;
    .clients__link:hover &,
    .clients__link:focus & {
        fill: $accent-color;
    }
}