.hero {
    background-color: $hero-background-color;
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__container {
        text-align: center;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_sm-@1x.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/hero/hero_sm-@2x.jpg);
        }
    
    @media screen and (min-width: 481px) {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_md-@1x.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_md-@2x.jpg);
            }
        }

    @media screen and (min-width: 769px) {
        background-image: linear-gradient(to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_lg-@1x.jpg);
            
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, 
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_lg-@2x.jpg);
            }
        }
    }

.hero__title {
    width: 360px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media screen and (min-width: 320px) and (max-width: ($mobile - 0.02)) {
        width: 290px;
        font-size: 19px;
    }
    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__button {
    background-color: $accent-color;
    color: $primary-white-color;
    font-family: $basic-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-width: 200px;
    padding: 10px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    @media screen and (min-width: $desktop) {
        min-width: 216px;
        padding: 10px 32px;
    }
}