.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 609px;
    background: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: ($mobile - 0.02)) {
        min-width: 290px;
        min-height: 319px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 528px;
        min-height: 581px;
    }
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-white-color;
    cursor: pointer;
}

.modal__icon {
    fill: currentColor;
    transition: fill $animation;

    .modal__btn:hover &,
    .modal__btn:focus & {
        fill: $accent-color;
    }
}