.group {
    display: flex;
    column-gap: 8px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.group__button {
    color: $basic-text-color;
    background-color: $team-background-color;
    font-family: $basic-font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    min-width: 73px;
    box-shadow: none;
    transition: background-color $animation, color $animation, box-shadow $animation;
    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}